{% extends 'blog/base.html' %}
{% load cloudinary %}
{% block content %}
   {% block meta %}
                {{ block.super }}                 
                     <link href="/static/css/testing" rel="stylesheet">                     
    {% endblock %}
    <div id='posts'>
        {% for post in posts %}
            
            <div class="date">
                    <p>published: {{ post.published_date }}</p>
            </div>
            <div class="post">
                
                {% if post.image %}
                    <div class="hasImg">
                        <a href="{{ post.get_absolute_url }}">
                            
                            {% cloudinary post.image.public_id %}
                        </a>
                    </div>
                    
                {% endif %}
                
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
                <div class="social_media">
                    <div id="facebook_share{{ post.pk }}" class="facebook_share_button"></div>
                    <a href="https://twitter.com/intent/tweet?text={{ post.image.url }}">
                        <div id="twitter_share" class="twitter_share_button"></div>
                    </a>
                    <a href="https://www.tumblr.com/widgets/share/tool?canonicalUrl=http://mysite.com:8000{{ post.get_absolute_url }}&posttype=photo&content={{ post.image.url }}" data-content="{{ post.image.url }}" data-posttype="photo" data-caption="{{ post.title }}">
                        <div id="tumblr_share" class="tumblr_share_button"></div>
                    </a>
                </div>    
                    <script>
                            document.getElementById('facebook_share{{ post.pk }}').onclick = function() {
                            
                            FB.ui({
                                method: 'share',
                                display: 'popup',
                                href: 'http://mysite.com:8000{{ post.get_absolute_url }}',
                                title: '{{ post.title }}',
                                picture: '{{ post.image.url }}'
                              }, function(response){});
                            }
                    </script>
            </div>

        {% endfor %}
        <div class="pagination">
                <span class="step-links">
                        {% if posts.has_previous %}
                                <a href="?page={{ posts.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                        </span>
                        {% if posts.has_next %}
                            <a href="?page={{ posts.next_page_number }}">next</a>
                        {% endif %}
                        
                </span>
        </div>
    </div>

    <div id="sidebar">
        <a href="">
            <img src="http://fpoimg.com/300x250">
        </a>
    </div>
{% endblock %}