{% extends 'blog/base.html' %}

{% block content %}
    <div id="post-detail">
        {% if post.published_date %}
            <div class='date'>
                {{ post.published_date|date:'d-m-Y'  }}
            </div>
        {% else %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|truncatechars:200 }}</p>
        {% if post.published_date %}
            {% if post.image %}
                <a href="{% url 'post_detail' pk=next_pk %}">
                    {% load cloudinary %}
                    {% cloudinary post.image.public_id %}
                </a>
            {% endif %}
            {% if previous_pk %}
                <a id="previous-selector" href="{% url 'post_detail' pk=previous_pk %}">Previous</a>
            {% endif %}
                <a id="next-selector" href="{% url 'post_detail' pk=next_pk %}">Next</a>
            {% else %}
                {% if post.image %}                
                    {% load cloudinary %}
                    {% cloudinary post.image.public_id %}
                {% endif %}
        {% endif %}
        
    </div>
    <div id="sidebar">
        <a href="">
            <img src="http://fpoimg.com/300x250">
        </a>
    </div>
{% endblock %}
{% block javascript %}
    $("img").on("mouseover", function(){
        
    });
{% endblock %}