{% extends 'blog/base.html' %}
{% load cloudinary %}
{% block content %}
    <div id='posts'>
        {% for post in posts %}
            <div class="date">
                    <p>published: {{ post.published_date }}</p>
            </div>
            <div class="post">
                
                {% if post.image %}
                    <p class="hasImg">
                        <a href="{{ post.get_absolute_url }}">
                            
                            {% cloudinary post.image.public_id %}
                        </a>
                    </p>
                    
                {% endif %}
                
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
            <div id="shareBtn{{ post.pk }}" class="btn btn-success clearfix">Share</div>
            <meta property="og:title" content="{{ post.title }}">
            <script>
                    document.getElementById('shareBtn{{ post.pk }}').onclick = function() {
                    
                    FB.ui({
                        method: 'share',
                        display: 'popup',
                        href: 'http://mysite.com:8000{{ post.get_absolute_url }}',
                        title: '{{ post.title }}',
                        picture: '{{ post.image.url }}'
                      }, function(response){});
                    }
            </script>
        {% endfor %}
        <div class="pagination">
                <span class="step-links">
                        {% if posts.has_previous %}
                                <a href="?page={{ posts.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                        </span>
                        {% if posts.has_next %}
                            <a href="?page={{ posts.next_page_number }}">next</a>
                        {% endif %}
                        
                </span>
        </div>
    </div>

    <div id="sidebar">
        <a href="">
            <img src="http://fpoimg.com/300x250">
        </a>
    </div>
{% endblock %}