{% extends 'blog/base.html' %}
{% block content %}
    <div id="direct_upload">
        <h1>New Text Post</h1>
        <form  action="{% url 'blog.views.post_new' %}" method="post" class="post-new-image" enctype="multipart/form-data">
            {% csrf_token %}
            {{ backend_form }}
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
        <div class = "uploaded_info_holder">
        <div>

    </div>
    
    
{% endblock %}
{% block javascript %}
    
{% endblock %}