{% extends 'blog/base.html' %}
{% block content %}
    <div id="direct_upload">
        <h1>New Image Post</h1>
        <form action="{% url 'blog.views.post_new_image' %}" method="post" class="post-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="save btn btn-default" value="Upload">Save</button>
        </form>
    
        <div class="status">
            <h2>Status</h2>
            <span class="status_value">Esperando</span>
            
    </div>
    
    
{% endblock %}
{% block javascript %}
    $(function () {
        $('#direct_upload input[type="file"]').cloudinary_fileupload({
             dropZone: '#direct_upload',
             start: function () {
                $(".status_value").text("Comenzando subida directa...");
            },
            progress: function () {
                $(".status_value").text('Subiendo...');
            },
        })
        .on('cloudinarydone', function(e, data) {
            $(".status_value").text("Listo!");

        });
    });
  
{% endblock %}

<!-- {
            dropZone: '#direct_upload',
            start: function () {
                $('.status_value').text('Starting direct upload...');
            },
            progress: function () {
                $('.status_value').text('Uploading...');
            },

            on('cloudinarydone', function (e, data) {
            $('.status_value').text('Updating backend...');
            $.post(this.form.action, $(this.form).serialize()).always(function (result, status, jqxhr) {
            $('.status_value').text(result.errors ? JSON.stringify(result.errors) : status);
        });

            -->
